@media (max-width: 768px) {
    .benefitsbox {
        padding: 20px;
    }

    .benefits {
        margin-bottom: 30px;
    }

    .benefits .imagebox {
        width: 50%;
    }

    .benefitstext {
        padding: 10px;
        font-size: 10px;
        border-top-right-radius: 50px;
    }

    .benefitstext .paragraph {
        margin-top: 10px;
    }

    .benefitstext2 {
        padding: 10px;
        font-size: 10px;
        border-top-left-radius: 50px;
    }

    .benefitstext2 .paragraph {
        margin-top: 10px;
        text-align: right;
    }
}