@media (max-width: 768px) {
    .contact {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }

    .contactform {
        width: 100%;
    }

    .contactinfo {
        width: 100%;
    }
}