@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 200; */
    /* font-style: normal; */
}

@media (max-width: 768px) {

    /* Header Component */
    .customHeader {
        padding: 1rem;
    }

    .logo-container {
        width: 80px;
        height: 80px;
    }

    .nav-links {
        display: none;
        position: relative;
    }

    .dropdownButton {
        display: block;
    }

    .dropdown {
        display: flex;
    }

    .nav-link {
        margin-right: 0;
        margin-bottom: 0.8rem;
    }

    /* Footer Component */
    .footer-container {
        flex-direction: column;
        text-align: center;
        padding: 35px;
    }

    .brand-info {
        width: 100%;
    }

    .logo {
        width: 100%;
    }

    .description {
        width: 100%;
    }

    .links-container {
        flex-direction: column;
    }

    .links {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        align-items: center;
        margin-bottom: 15px;
    }

    .links p {
        margin-bottom: 0;
        font-size: x-large;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .copyright-text {
        text-align: center;
        margin-bottom: 15px;
    }

    .social-icons {
        align-items: center;
        justify-content: center;
    }
}